<h1>Stupid Coaching</h1>

<blockquote>
  <p>

    <%= @question %>
  </p>
  <cite>-You</cite>
</blockquote>

<blockquote class="coach-quote">
    <p class="answer-text"><%= @answer %></p>
    <cite>-Your coach</cite>
</blockquote>

<%= link_to "Home", ask_path %>
